<div>

    <h2 translate="gungungunApp.tokenBlueprint.home.title">TokenBlueprint</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTokenBlueprintModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="gungungunApp.tokenBlueprint.home.createLabel">Create a new TokenBlueprint</span>
    </button>
    <div class="modal fade" id="saveTokenBlueprintModal" tabindex="-1" role="dialog" aria-labelledby="myTokenBlueprintLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTokenBlueprintLabel" translate="gungungunApp.tokenBlueprint.home.createOrEditLabel">Create or edit a TokenBlueprint</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="tokenBlueprint.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.tokenKey">TokenKey</label>
                            <input type="text" class="form-control" name="tokenKey"
                                   ng-model="tokenBlueprint.tokenKey">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.health">Health</label>
                            <input type="number" class="form-control" name="health"
                                   ng-model="tokenBlueprint.health">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.actionsPerTurn">ActionsPerTurn</label>
                            <input type="number" class="form-control" name="actionsPerTurn"
                                   ng-model="tokenBlueprint.actionsPerTurn">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.longRangeAttackRange">LongRangeAttackRange</label>
                            <input type="number" class="form-control" name="longRangeAttackRange"
                                   ng-model="tokenBlueprint.longRangeAttackRange">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.longRangeWeaponDamageMinimum">LongRangeWeaponDamageMinimum</label>
                            <input type="number" class="form-control" name="longRangeWeaponDamageMinimum"
                                   ng-model="tokenBlueprint.longRangeWeaponDamageMinimum">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.longRangeWeaponDamageMaximum">LongRangeWeaponDamageMaximum</label>
                            <input type="number" class="form-control" name="longRangeWeaponDamageMaximum"
                                   ng-model="tokenBlueprint.longRangeWeaponDamageMaximum">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.shortRangeAttackRange">ShortRangeAttackRange</label>
                            <input type="number" class="form-control" name="shortRangeAttackRange"
                                   ng-model="tokenBlueprint.shortRangeAttackRange">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.shortRangeWeaponDamageMinimum">ShortRangeWeaponDamageMinimum</label>
                            <input type="number" class="form-control" name="shortRangeWeaponDamageMinimum"
                                   ng-model="tokenBlueprint.shortRangeWeaponDamageMinimum">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.shortRangeWeaponDamageMaximum">ShortRangeWeaponDamageMaximum</label>
                            <input type="number" class="form-control" name="shortRangeWeaponDamageMaximum"
                                   ng-model="tokenBlueprint.shortRangeWeaponDamageMaximum">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.tokenBlueprint.moveRange">MoveRange</label>
                            <input type="number" class="form-control" name="moveRange"
                                   ng-model="tokenBlueprint.moveRange">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTokenBlueprintConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(tokenBlueprint.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="gungungunApp.tokenBlueprint.delete.question" translate-values="{id: '{{tokenBlueprint.id}}'}">Are you sure you want to delete this TokenBlueprint?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="gungungunApp.tokenBlueprint.tokenKey">TokenKey</th>
                    <th translate="gungungunApp.tokenBlueprint.health">Health</th>
                    <th translate="gungungunApp.tokenBlueprint.actionsPerTurn">ActionsPerTurn</th>
                    <th translate="gungungunApp.tokenBlueprint.longRangeAttackRange">LongRangeAttackRange</th>
                    <th translate="gungungunApp.tokenBlueprint.longRangeWeaponDamageMinimum">LongRangeWeaponDamageMinimum</th>
                    <th translate="gungungunApp.tokenBlueprint.longRangeWeaponDamageMaximum">LongRangeWeaponDamageMaximum</th>
                    <th translate="gungungunApp.tokenBlueprint.shortRangeAttackRange">ShortRangeAttackRange</th>
                    <th translate="gungungunApp.tokenBlueprint.shortRangeWeaponDamageMinimum">ShortRangeWeaponDamageMinimum</th>
                    <th translate="gungungunApp.tokenBlueprint.shortRangeWeaponDamageMaximum">ShortRangeWeaponDamageMaximum</th>
                    <th translate="gungungunApp.tokenBlueprint.moveRange">MoveRange</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tokenBlueprint in tokenBlueprints">
                    <td><a ui-sref="tokenBlueprintDetail({id:tokenBlueprint.id})">{{tokenBlueprint.id}}</a></td>
                    <td>{{tokenBlueprint.tokenKey}}</td>
                    <td>{{tokenBlueprint.health}}</td>
                    <td>{{tokenBlueprint.actionsPerTurn}}</td>
                    <td>{{tokenBlueprint.longRangeAttackRange}}</td>
                    <td>{{tokenBlueprint.longRangeWeaponDamageMinimum}}</td>
                    <td>{{tokenBlueprint.longRangeWeaponDamageMaximum}}</td>
                    <td>{{tokenBlueprint.shortRangeAttackRange}}</td>
                    <td>{{tokenBlueprint.shortRangeWeaponDamageMinimum}}</td>
                    <td>{{tokenBlueprint.shortRangeWeaponDamageMaximum}}</td>
                    <td>{{tokenBlueprint.moveRange}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="tokenBlueprintDetail({id:tokenBlueprint.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(tokenBlueprint.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(tokenBlueprint.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
