<div>

    <h2 translate="gungungunApp.behavior.home.title">Behavior</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveBehaviorModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="gungungunApp.behavior.home.createLabel">Create a new Behavior</span>
    </button>
    <div class="modal fade" id="saveBehaviorModal" tabindex="-1" role="dialog" aria-labelledby="myBehaviorLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myBehaviorLabel" translate="gungungunApp.behavior.home.createOrEditLabel">Create or edit a Behavior</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="behavior.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="gungungunApp.behavior.priority">Priority</label>
                            <input type="number" class="form-control" name="priority"
                                   ng-model="behavior.priority">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.behavior.heuristicName">HeuristicName</label>
                            <input type="text" class="form-control" name="heuristicName"
                                   ng-model="behavior.heuristicName">
                        </div>

                        <div class="form-group">
                            <label translate="gungungunApp.behavior.Hero">Hero</label>
                            <select class="form-control" name="Hero" ng-model="behavior.hero.id" ng-options="hero.id as hero.id for hero in heros">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteBehaviorConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(behavior.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="gungungunApp.behavior.delete.question" translate-values="{id: '{{behavior.id}}'}">Are you sure you want to delete this Behavior?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="gungungunApp.behavior.priority">Priority</th>
                    <th translate="gungungunApp.behavior.heuristicName">HeuristicName</th>
                    <th translate="gungungunApp.behavior.Hero">Hero</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="behavior in behaviors">
                    <td><a ui-sref="behaviorDetail({id:behavior.id})">{{behavior.id}}</a></td>
                    <td>{{behavior.priority}}</td>
                    <td>{{behavior.heuristicName}}</td>
                    <td>{{behavior.Hero.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="behaviorDetail({id:behavior.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(behavior.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(behavior.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
