<div>

    <h2 translate="gungungunApp.arenaCoordinate.home.title">ArenaCoordinate</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveArenaCoordinateModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="gungungunApp.arenaCoordinate.home.createLabel">Create a new ArenaCoordinate</span>
    </button>
    <div class="modal fade" id="saveArenaCoordinateModal" tabindex="-1" role="dialog" aria-labelledby="myArenaCoordinateLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myArenaCoordinateLabel" translate="gungungunApp.arenaCoordinate.home.createOrEditLabel">Create or edit a ArenaCoordinate</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="arenaCoordinate.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="gungungunApp.arenaCoordinate.transparent">Transparent</label>
                            <input type="checkbox" class="form-control" name="transparent"
                                   ng-model="arenaCoordinate.transparent">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.arenaCoordinate.permeable">Permeable</label>
                            <input type="checkbox" class="form-control" name="permeable"
                                   ng-model="arenaCoordinate.permeable">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.arenaCoordinate.x">X</label>
                            <input type="number" class="form-control" name="x"
                                   ng-model="arenaCoordinate.x">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.arenaCoordinate.y">Y</label>
                            <input type="number" class="form-control" name="y"
                                   ng-model="arenaCoordinate.y">
                        </div>

                        <div class="form-group">
                            <label translate="gungungunApp.arenaCoordinate.Arena">Arena</label>
                            <select class="form-control" name="Arena" ng-model="arenaCoordinate.arena.id" ng-options="arena.id as arena.id for arena in arenas">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteArenaCoordinateConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(arenaCoordinate.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="gungungunApp.arenaCoordinate.delete.question" translate-values="{id: '{{arenaCoordinate.id}}'}">Are you sure you want to delete this ArenaCoordinate?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="gungungunApp.arenaCoordinate.transparent">Transparent</th>
                    <th translate="gungungunApp.arenaCoordinate.permeable">Permeable</th>
                    <th translate="gungungunApp.arenaCoordinate.x">X</th>
                    <th translate="gungungunApp.arenaCoordinate.y">Y</th>
                    <th translate="gungungunApp.arenaCoordinate.Arena">Arena</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="arenaCoordinate in arenaCoordinates">
                    <td><a ui-sref="arenaCoordinateDetail({id:arenaCoordinate.id})">{{arenaCoordinate.id}}</a></td>
                    <td>{{arenaCoordinate.transparent}}</td>
                    <td>{{arenaCoordinate.permeable}}</td>
                    <td>{{arenaCoordinate.x}}</td>
                    <td>{{arenaCoordinate.y}}</td>
                    <td>{{arenaCoordinate.Arena.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="arenaCoordinateDetail({id:arenaCoordinate.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(arenaCoordinate.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(arenaCoordinate.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
