<div>

    <h2 translate="gungungunApp.fight.home.title">Fight</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveFightModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="gungungunApp.fight.home.createLabel">Create a new Fight</span>
    </button>
    <div class="modal fade" id="saveFightModal" tabindex="-1" role="dialog" aria-labelledby="myFightLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myFightLabel" translate="gungungunApp.fight.home.createOrEditLabel">Create or edit a Fight</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="fight.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="gungungunApp.fight.createdAt">CreatedAt</label>
                            <input type="datetime-local" class="form-control" name="createdAt"
                                   ng-model="fight.createdAt" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.fight.processedAt">ProcessedAt</label>
                            <input type="datetime-local" class="form-control" name="processedAt"
                                   ng-model="fight.processedAt" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="gungungunApp.fight.resultingEvents">ResultingEvents</label>
                            <input type="text" class="form-control" name="resultingEvents"
                                   ng-model="fight.resultingEvents">
                        </div>

                         <div class="form-group">
                             <label translate="gungungunApp.fight.participatingParty">participatingParty</label>
                             <select class="form-control" multiple name="participatingParty" ng-model="fight.participatingPartys" ng-options="party as party.id for party in partys track by party.id">
                             </select>
                         </div>
                        <div class="form-group">
                            <label translate="gungungunApp.fight.arena">arena</label>
                            <select class="form-control" name="arena" ng-model="fight.arena.id" ng-options="arena.id as arena.id for arena in arenas">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteFightConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(fight.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="gungungunApp.fight.delete.question" translate-values="{id: '{{fight.id}}'}">Are you sure you want to delete this Fight?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="gungungunApp.fight.createdAt">CreatedAt</th>
                    <th translate="gungungunApp.fight.processedAt">ProcessedAt</th>
                    <th translate="gungungunApp.fight.resultingEvents">ResultingEvents</th>
                    <th translate="gungungunApp.fight.arena">arena</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fight in fights">
                    <td><a ui-sref="fightDetail({id:fight.id})">{{fight.id}}</a></td>
                    <td>{{fight.createdAt}}</td>
                    <td>{{fight.processedAt}}</td>
                    <td>{{fight.resultingEvents}}</td>
                    <td>{{fight.arena.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="fightDetail({id:fight.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(fight.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(fight.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
